# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.crf
utilities/secondary_bootloader/out_DA14531/*
utilities/secondary_bootloader/includes/bootloader.h
projects/target_apps/dsps/dsps_device/Keil_5/out_585/*
JLinkLog.txt
out/*
projects/target_apps/dsps/dsps_device/Keil_5/out_531/*
*.log
*.intl
**/__pycache__/**
